body{
	background: skyblue;
}
.container{
	width: 960px;
	height: 600px;
	margin: 50px auto;
	background: yellow;
	text-align: center;
	background: url(../img/html.jpg);
	
}
.mm{
	width: 152px;
	height: 30px;
}